<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-text-center" *ngIf="isLoggedIn">
              

            <div class="common-content">
              <img *ngIf="imgs==''" src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar" />
              <img *ngIf="imgs!=''" src={{imgs}} alt="avatar" />
                <h4>{{username}}</h4>
              <div class="container">
                <ion-card class="ion-margin-top">
                  <ion-card-content>
                    <ion-list>
                      <ion-item>
                        <ion-icon slot="start" name="mail"></ion-icon>
                        <ion-text>{{email}}</ion-text>
                      </ion-item>
                      <ion-item>
                        <ion-icon slot="start" name="call"></ion-icon>
                        <ion-text>{{phone}}</ion-text>
                      </ion-item>

                      <ion-item lines="none">
                        
                        <p class="ion-padding-top">
                        <ion-button href="/app/tabs/edit-profile" fill="outline" shape="round" size="default">Edit Profile</ion-button>
                      </p>
                      </ion-item>

                      <ion-item lines="none">
                        
                        <p class="ion-padding-top">
                        <ion-button (click)="deactivateAccount()" fill="outline" shape="round" size="default" color="danger">Deactivate Account</ion-button>
                      </p>
                      </ion-item>

                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </div>
            </div>
          </div>
</ion-content>
