ion-label{ margin-top:10px; }
ion-item, ion-list, .list-md{ --background: none; padding:0; border:0}
ion-item .item-inner{ padding:0!important; }
p.err{ font-size : 13px; padding:0}
main{ background: #f5f5f5 }
.icon-row, .phone{ position:relative; }
  .faeye { position: absolute;left: auto;right: 25px; top: 0; line-height: 48px; padding: 0; top: 34px; color: #dd0048; z-index : 2;}

  #map_canvas {
  width: 90%;
  height: 50%;
  border: 1px solid red;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
  height: 100px;
}

  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
  .phone_code{ position: absolute; background : #e3e3e3; color: #000; padding:0px 15px; left: 0;right: auto; line-height: 48px;top: 26px; z-index : 4;}